<span details item="selectedProduct.Price"></span>
<table class="table table-striped">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Model</th>
        <th>Price</th>
         <th><a href="" ng-click="showMore()">Show More</a></th>
      </tr>
    </thead>
    <!--<tr ng-repeat="item in prc.products">-->
        <tr ng-repeat="item in products|limitTo:numberOfProducts">
        <td>{{item.index}}</td>
        <td>{{item.Model|uppercase}}</td>
         <td>{{item.Price|currency :"Rs."}}</td>
         <td><button class="btn btn-primary" 
         ng-click="addProductToCart(item)">Add To Cart
           </button>
        </tr>
</table>
